main {
    gap: 2em;
    margin-inline: .5em;
}

img {
    width: 100%;
}

.team-image {
    width: 100vw;
}
    
.profile {
    border-bottom: 5px solid var(--lime-green);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-inline: .5em;
    padding-top: .5em;
}

figure {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

figcaption {
    color: var(--violet);
    font-size: .75em;
    font-weight: 400;
}

.biography {
    background-color: var(--tan);
    border-radius: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

p {
    font-family: 'Cormorant', serif;
    line-height: 2em;
    padding: 1em;
    text-indent: 1em;
}

.profile-info > h2 {
    font-variant: small-caps;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: var(--violet);
}

.profile-info > a {
    color: var(--violet);
    font-size: .75em;
    text-decoration: none;
}

@media only screen and (min-width: 1080px) {

    .profile {
        flex-direction: row;
    }

    .biography {
        width: 75%;
    }

    figure {
        width: 25%;
    }
}
