main {
    gap: 2em;
    margin-inline: .5em;
}

.profile-pic img {
    width: 60%;
    margin-inline: auto;
}

.team-image {
    width: 100vw;
}

.profile-pic {
    text-align: center;
}
    
.profile {
    border-bottom: 5px solid var(--lime-green);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    margin-inline: .5em;
    padding: .5em .5em 1em .5em;
}

.profile:last-of-type {
    border: none;
}

figure {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

figcaption {
    color: var(--violet);
    font-size: .75em;
    font-weight: 400;
}

.biography {
    background-color: var(--tan);
    border-radius: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

p {
    font-family: 'Cormorant', serif;
    line-height: 2em;
    padding: 1em 1.5em 1em 1.5em;
    text-indent: 1em;
}

.profile-info > h2 {
    font-variant: small-caps;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: var(--violet);
}

.profile-info > a {
    color: var(--violet);
    font-size: .75em;
    text-decoration: none;
}

@media only screen and (min-width: 1080px) {

    main {
        margin-inline: 1em;
    }

    .profile-pic > img {
        width: 100%;
    }

    .profile {
        grid-column: 1/-1;
        flex-direction: row;
    }

    .biography {
        align-self: center;
        width: 75%;
    }

    figure {
        width: 25%;
    }

}
